<div>
  <% @students.each do |student| %>
    <div><%= link_to student.first_name + " " + student.last_name, student_path(student) %></div>
    <p>This student is currently <%= "un" unless student.active %>active</p>
  <% end %>
</div>
